
// Contact
.contact-container {
    @extend %float-right;
    display: flex;
    padding: 50px 40px;
    .contact-info {
        width: calc(100% / 3);
        margin: 0 30px 0 0;
        color: $text-colour;
        h2, h3, h4 {
            line-height: 1;
        }
        h2 {
            margin: 0;
            font-size: 2rem;
        }
        h3, h4 {
            font-size: 1.375rem;
            font-weight: 400;
        }
        p, h3, h4 {
            margin: 20px 0;
        }
    }
    .contact-form {
        width: 100%;
        margin: 0 0 0 40px;
        .name,
        form > input,
        form > textarea {
            margin: 0 0 15px 0;
            height: 40px;
        }
        .name > input,
        form > input,
        form > textarea {
            border: none;
            border-radius: 3px;
            background: #ccc;
            padding: 5px 15px;
            font-family: 'Poppins', sans-serif;
            transition-duration: .4s;
            &:focus {
                border: 1px solid $theme-colour;
                box-shadow: .05rem .05rem .75rem 0 $theme-colour, -.05rem -.05rem .75rem 0 $theme-colour;
                outline: none;
            }
        }
        .name {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            > * {
                width: per-line(2, 3px);
            }
        }
        form > input,
        form > textarea {
            width: 100%;
        }
        form > textarea {
            resize: none;
            height: 180px;
        }
        .submit-btn {
            @include buttons($h: 50px, $w: 180px, $colour: $text-colour);
        }
    }
}
.to-top {
    float: right;
    width: calc(100% - 220px);
    a.scroll-btn {
        display: inline-block;
        color: $text-colour;
    }
}

.error-col {
    &::placeholder {
        color: red;
    }
}