.examples-container {
    @extend %float-right;
    position: relative;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: auto;
    line-height: 0;
    .column {
        width: calc(100% / 3);
        height: 100%;
        padding: 25px 30px;
        .caption,
        .caption > * {
            display: inline-block;
        }
        .caption {
            height: 40px;
            width: 100%;
            line-height: 0;
            > span {
                height: 100%;
                color: $text-colour;
                font-size: 1.5rem;
                font-weight: 600;
                border-bottom: 2px solid $theme-colour;
                line-height: 2;
            }
            > .enlarge-img {
                @include buttons($w: 80px, $colour: $theme-colour);
                float: right;
                margin: 5px 0 0 0;
                text-align: center;
                > span {
                    height: 100%;
                    font-size: 1rem;
                    line-height: 2;
                }
            }
        }
        .image-container,
        .image-container * {
            transition: .4s;
        }
        .image-container {
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            &:hover {
                border-radius: 8px;
                .gradient {
                    opacity: .9;
                    .text {
                        opacity: 1;
                    }
                }
            }
            .image-background {
                position: relative;
            }
            .image-background > img {
                width: 100%;
                height: auto;
            }
            .main-img-container {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                height: auto;
                padding: 2px;
            }
            .image {
                width: 100%;
                height: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .gradient {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                text-align: center;
                background-color: $overlay-colour;
                opacity: 0;
                .text {
                    position: absolute;
                    @extend %center-aligned;
                    color: $gradient-text-colour;
                    width: calc(100% - 40px);
                    font-size: 1rem;
                    line-height: 1.25;
                    opacity: 0;
                }
            }
        }
        .accordion {
            display: none;
            line-height: 1.25;
            padding: 10px;
            > .text {
                p {
                    color: $gradient-text-colour;
                    background-color: $theme-colour;
                    border: none;
                    border-radius: 3px;
                    padding: 10px;
                    box-shadow: 1px 1px 10px $box-shadow-colour, -1px -1px 10px $box-shadow-colour;
                }
            }
        }
    }
}

.enlarged-container {
    position: fixed;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: -1000;
    overflow: hidden;
    transition: .4s cubic-bezier(.42,.01,.31,1.49);
    > .fas {
        margin: 0 0 5px 0;
        font-size: 1.5rem;
        float: right;
        color: $gradient-text-colour;
        cursor: pointer;
    }
    .inner-container {
        height: 90%;
        width: 100%;
        padding: 0 7px 0 0;
        overflow-y: scroll;
        > .image > img,
        > .description .inner-desc {
            border-radius: 4px;
            box-shadow: 1px 1px 10px $box-shadow-colour, -1px -1px 10px $box-shadow-colour;
        }
        > .image {
            width: 100%;
            padding: 10px;
            > img {
                width: 100%;
                height: auto;
            }
        }
        > .description {
            margin-top: 20px;
            padding: 30px;
            .inner-desc {
                padding: 10px;
                background-color: $theme-colour;
                border: 1px solid darken($theme-colour, 20%);
            }
            p {
                margin: 0;
                color: $gradient-text-colour;
            }
        }
        
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px $box-shadow-colour;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $theme-colour;
          border-radius: 10px;
        }
    }
}

.enlarged-show {
    height: 80%;
    width: 70%;
    z-index: 100000000;
}