
// Hero banner
.hero-image {
    @extend %float-right;
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: $hero-colour;
    height: 100vh;
    .hero-text {
        @extend %center-aligned;
        > h1 {
            font-size: 4.5rem;
            font-weight: 600;
            letter-spacing: .1px;
            padding: 0 30px;
        }
        > p {
            font-size: 2rem;
        }
        > .logo {
            height: 200px;
            width: 200px;
            margin: auto;
            background-image: url('../images/profile-placeholder.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            border: 3px solid $theme-colour;
        }
    }
    .scroll-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        .scroll-btn {
            color: $hero-colour;
        }
    }
}
.scroll-container {
    text-align: center;
    .scroll-btn {
        width: 150px;
        margin: auto;
        text-decoration: none;
        * {
            margin: 0 0 10px 0;
        }
        > i.fas {
            font-size: 2.5rem;
        }
        > p {
            font-size: 1.25rem;
        }
    }
}