
// Projects 
.projects {
    position: relative;
    float: right;
    width: calc(100% - 220px);
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    > div {
        width: calc((100% / 3) - 20px);
        height: 50%;
        margin: 10px;
        .image-container,
        .image,
        .gradient,
        h2,
        a > * {
            transition-duration: .4s;
        }
        .image-container {
            height: 65%;
            overflow: hidden;
            border-radius: 2px;
            > .image {
                background-image: url('../images/placeholder.jpg');
                background-repeat: no-repeat;
                background-position: fill;
                background-size: cover;
                height: 100%;
                > .gradient {
                    background-color: #222; 
                    height: 100%;
                    opacity: 0;
                }
            }
        }
        h2,
        a > * {
            color: $text-colour;
        }
        h2 {
            margin: 20px 0 15px 0;
            font-size: 2rem;
            font-weight: 600;
        }
        &:hover {
            .image-container {
                border-radius: 8px;
                box-shadow: .4rem .4rem 1.5rem 0 darken(#fff, 15%), -.4rem -.4rem 1.5rem 0 darken(#fff, 15%);
                > .image {
                    background-color: #000;
                    transform: scale(1.2);
                    > .gradient {
                        opacity: 50%;
                    }
                }
            }
            h2,
            a > * {
                color: #aaa;
            }
        }
    }
    > div,
    .view * {
        color: $text-colour;
    }
    .view, 
    .view * {
        display: inline-block;
    }
    .view {
        width: auto;
        text-decoration: none;
        p {
            margin: 0;
            width: auto;
        }
        > i.fas {
            margin: 0 0 0 .5rem;
        }
    }
}