
// Projects 
.projects {
    @extend %float-right;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 979px;
    > div {
        width: calc((100% / 3) - 20px);
        height: 50%;
        margin: 10px;
        a {
            text-decoration: none;
            .image-container,
            .image,
            .gradient,
            h2,
            span > * {
                transition-duration: .4s;
            }
            .image-container {
                height: 55%;
                overflow: hidden;
                border-radius: 2px;
                > .image {
                    background-image: url('../images/placeholder.jpg');
                    @extend %background-image;
                    background-size: cover;
                    height: 100%;
                    > .gradient {
                        background-color: #222; 
                        height: 100%;
                        opacity: 0;
                    }
                }
            }
            h2,
            span > * {
                color: $text-colour;
            }
            h2 {
                margin: 20px 0 15px 0;
                font-size: 2rem;
                font-weight: 600;
            }
        }
        &:hover {
            .image-container {
                border-radius: 8px;
                box-shadow: .4rem .4rem 1.5rem 0 darken(#fff, 15%), -.4rem -.4rem 1.5rem 0 darken(#fff, 15%);
                > .image {
                    background-color: #000;
                    transform: scale(1.2);
                    > .gradient {
                        opacity: .5;
                    }
                }
            }
            h2,
            span > * {
                color: #aaa;
            }
        }
    }
    > div.project-one .image-container > .image {
        background-image: url('../images/netmatters.jpg');
    }
    > div,
    .view * {
        color: $text-colour;
    }
    .view, 
    .view * {
        display: inline-block;
    }
    .view {
        width: 100%;
        text-decoration: none;
        > span {
            margin: 0;
            width: calc(100% - 60px);
        }
        > i.fas {
            font-size: 1.5rem;
            margin: 0 1rem 0 .5rem;
            float: right;
        }
    }
}