
@media only screen and (max-width: 1293px) {
    .nav-container {
        height: 100vh;
    }
    .projects {
        height: 1470px;
        > div {
            width: calc((100% / 2) - 20px);
            height: calc(100% / 3);
        }
    }
    .scheme-container {
        flex-wrap: wrap;
        > div.scs,
        > div.treehouse{
            width: calc(100% / 2.008);
        }
        > div.netmatters {
            width: 100%;
            margin: 30px 0 0 0;
            h2 {
                height: 40px;
                margin: 0 0 20px 0;
                text-align: center;
            }
            .list {
                display: flex;
                > ul {
                    width: calc(100% / 2);
                }
            }
        }
        hr:first-of-type {
            margin: 8px 0 0 0;
        }
        hr.hide {
            width: 100%;
            margin: 0 0 8px 0;
        }
    }
}

@media only screen and (max-width: 1032px) {
    .contact-container {
        flex-wrap: wrap;
        .contact-info {
            width: 100%;
        }
        .contact-form {
            margin: 40px 0 0 0;
        }
    }
    .scheme-container {
        flex-wrap: nowrap;
        flex-direction: column;
        > div.scs,
        > div.treehouse{
            width: 100%;
            h2 {
                height: 30px;
                margin: 0 0 40px 0;
            }
        }
        > div.netmatters h2 {
            text-align: left;
        }
        hr.hide {
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 952px) {
    .projects {
        height: 3000px;
        > div {
            width: 100%;
            height: calc(100% / 6);
        }
    }
    .about-container {
        flex-direction: column;
        > div {
            width: 100%;
        }
        >div:not(:first-child) {
            margin: 20px 0 0 0;
        }
        > hr {
            width: 100%;
        }
    }
}

@media only screen and (max-height: 670px) {
    .initial-lg {
        display: none;
    }
    .nav-container .nav-inner .nav ul {
        margin: 0;
    }
    .nav-inner {
        padding: 15px 0 0 0;
    }
}

@media only screen and (max-height: 538px) {
    .hero-image .hero-text {
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.5rem;
        }
        > .logo {
            width: 100px;
            height: 100px;
        }
    }
    .nav-container .nav-inner .nav ul li > a {
        height: 25px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .hero-image,
    .projects,
    .contact-container {
        z-index: -1;
    }
    .nav-container {
        margin: -100vh 0;
    }
    .nav-show {
        margin: 0;
    }
    .close-nav-show {
        border: 3px solid $theme-colour;
        width: 30px;
    }
    .initial {
        display: block;
        position: fixed;
        border-right: 3px solid $theme-colour;
        border-bottom: 3px solid $theme-colour;
        color: $theme-colour;
        background-color: #fff;
        height: 70px;
        width: 70px;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        z-index: 10000;
        > h1 {
            margin: 0;
            height: 55%;
            line-height: 1.1;
        }
        > .dropdown {
            display: inline-block;
            width: 100%;
            height: auto;
            color: $theme-colour;
        }
    }
    .hero-image,
    .projects,
    .contact-container,
    .scroll-container,
    .scheme-container,
    .about-container {
        width: 100%;
    }
    .scheme-container > hr {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 634px) {
    .hero-image .hero-text {
        h1 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
    .scheme-container {
        > div.scs > h2 {
            height: 60px;
        }
        > div.netmatters > .list {
            flex-direction: column;
            > ul {
                width: 100%;
            }
        }
    }
}