
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: $font-fam;
    letter-spacing: .4px;
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $project-hover-colour;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $theme-colour;
      border-radius: 10px;
      border: 2px solid $gradient-text-colour;
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: $overlay-colour;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    z-index: -10;
}
.overlay-show {
    opacity: .75;
    z-index: 10000000;
}
.overlay-nav {
    z-index: 1000000;
}

#arrow-up, #arrow-down {
    position: relative;
}