
// Font
$font-fam: 'Poppins', sans-serif;

// colours
$text-colour: #333645;
$theme-colour: #52B2CB;
$input-colour: #ccc;
$overlay-colour: #000;
$error-colour: #f00;
$gradient-text-colour: #fff;
$box-shadow-colour: #555;
$hero-colour: #eee;
$project-overlay-colour: #222;
$project-hover-colour: #aaa;